<header>
	<pre class="ascii logo">                                                                                                                  
　　　　　　　　　　　　　　　　　　　　　　, -―-　、　　　　　　　　,　 ―　、
　　　　　　　　　　　　　　　　　　 　 　 f　　　　　 ＞ 、　　　　,〃　　　　 ヽ
　　　　　　　　　　　　　　　　　　　　　 { 　 　 　 　 　 ヽ　 　 /　　　　　　　}
　　　　　　　　　　　　　　　　　　　 　 人　　　::::::ヽ　　 ﾍ　/　　 ,...:::　　　 ;
　　　　　　　　　　　　　　　　　　　 　 　 ゝ　　 　 　 ヽ.　∨　, '"　　　　 ノ
　　　　　　　　　　　　　　　　　　　　 　 　 　 ｀, ＞ ミ　ヽ　〃　,　 -彡'
　　　　　　　　　　　　　　　　　　　　　 　 ,..＜:::, ィ＜ 　 ＿　`ミ ､:ヽ、
　　　　　　　　　　　　　　　 　 　 　 　 ／::::,ィ 彡'"::::::::::::j:::::::::｀:::＜ヾ:::.、
　　　　　　　　 　 　 　 　 　 　 　 　 〃:::∠,ｨ'::::::::::::::::::::::,'::::::::::::::::::::｀ヾ.､ﾍ
　　　　　　　　　　　　　 　 　 　 　 /:::::://':::::::::::::::::::::::::::j::::::::::::::゛::::::::::::ヽ::ﾍ
　　　　　　　　　　　　　　　　　　 /::::::/,'::::::::::::::::::::::::::::::/:::::::::::::::}ﾊ:::::::::::::ﾍ::ﾍ
　　　　　　　　　　　　　　　　　　.::::::::{/:::::::::::::::::::::::::::::/:::::;:::::::::::; }∨::::::::::::ﾍ:ﾊ
　　　　　　　　　　　　　　 　 　 ﾉ:::::::,'::::::::::::::::::::::::::::ノ::::::/::::ﾉ:::ﾉ/　}::ﾊ:::::::::ﾍ:::ﾄ
　　　　　　　　　　　　　　　　 /,':::::::l:::::::::::::::::::::::::／::::ノ:::／／∠= Lハ::::::::::l::::} `
　　　　　 　 　 　 　 　 　 　 / ,'::::::::{::::::::::::/l ＞'ー彡 'ー" _ノ　　 /' ｀ }:::::::::}:::l　゛
　　　　　　　　　　　　　　　/ ,'::::::::::l::::::::::}ﾞl､,ィｆ芋ミ、　　 　 　 ,ｚ=ミ、 }ﾊ::::::::l:::l　゛
　　　　　　　　　　　 　 　 / .,':::/:::::{::::::::{゛.ｲｆ ん:::ﾊ ` 　 　 　 'ん:ハ ヾ' };:::::: }::ﾊ　゛
　　　　　　　　　　　　 　 ;　/:::,':::::::{l::::ﾄ::ヽ ゛弋_Z:ﾉ　　　　　　い:::ﾘ　ﾉ`/::::::::}:l:::i　゛
　　　　　　　　　　　　　 ,' /:: /::::::::{l:::::ﾄ､ﾐゝ　　　　　　　 　 　 ｀¨´　　ﾉノ:::::::l}゛:ﾊ　i
　　　　　　　　　　 　 　 {/::::/::::::::::{l:::::l:::｀ﾍ　　　　　　　 '　　　　　　 7:::::::::::::l}:゛:::ﾍ l
　　 　 　 　 　 　 　 　 /l;::::,'::::::::::: {l:::::l:::::::::ヽ　　　　 ｒ‐　 、　　 　 ,ｲ:::::::::::::::l}::ﾍ::::ﾍ}
　　　　　　　 　 　 　 〃{:::/::::::::::::::{l:::::l:,':::::::::::ヽ、　　　ー 　 　 ,.ィ::::::::::::::::l::::l}::::ﾍ::ﾍ.ﾄ、
　　　　　　　　　　 ,ｨ',ｲ::{/::::::::::::::::::{l::::ｌ::::::::::::ノ　} ＞　　　　＜ヽ::::::::l::::::::::}::::j::::::ﾄヾ::トﾐ 、
　　　　　　　　　 ,,'"/::::∧::::::::::::::::,_ﾍ:::lィ≦´　 {'　　　｀　´　 `i　　 ｀　￢ }:: ,':::::ﾊ　ﾞ;ヾ::ヾヽ
　 　 　 　 　 　 / /::::,ｲハ::::::::::,斗 { {l::{　 　 　 l　　　　　　 　 }.　　　 　 } ;::;' ＞ミ{ ,'　ヾ::ﾊ ゛
　　　　　　 　 / /::::/ ,'::::::::;>'´　 { { .ﾊﾍ.　　 　 l　　　　　　　 ｊ.　　　 　 j j:,'ｊ 　 　 ヽ　 ヾ､::. ゛
　　　　 　 　 ; /::: / ,':::::::/　　　 ﾍ‘,‘,ヽﾍ　　　‘,　　　　　　　;　　 　 　 }':/.l　　　　　ヽ、゛ :::. }
　 　 　 　 　 {'::: /　,':::::ﾉ　　　 　 ﾍ‘,ﾍ　ヾ、　　ﾍ 　 　 　 　 ,' 　 　 　 ,'ﾉ /　　　　　　　ヽ゛:::::}
　　 　 　 　 j::: /　 ;::, '　　 　 　 　 ヽ゛゛ 　 ゛.　　ﾍ＿＿＿＿;　　　　 /'/ ｲ　 　 　 　 　 　 ,_>、
　　　　　　 {::::;　　l '　　　　　　　　 }ヽヾ 、　　 　ﾍ ニニニ./　 　 　 /// l、　　 　 　 　 ,」::::::>へ
　　　　　　 {:::l　／=:、　　　　 　 ／}　ヽヾ 、　　　ﾍ　　　 /　　 　 ,ｲ.ﾉ/　.l:::::＞.. 、 　（:::::::, '　　　＼
　　　　　　 {::l,ｲﾞ＜::::ﾞ=:::、　　／l:::::l　　 ヽヾ、、　　ﾍ　 ノ　　　,. '／ｲ　　 l::::::::: }　l＞<:::,/　　　　 　 ＼
				   
	</pre>
	<pre class="ascii name">
 ▄████▄   ▒█████    ██████  ███▄ ▄███▓ ██▓ ▄████▄     ▓█████▄ ▓█████ ▄▄▄     ▄▄▄█████▓ ██░ ██ 
▒██▀ ▀█  ▒██▒  ██▒▒██    ▒ ▓██▒▀█▀ ██▒▓██▒▒██▀ ▀█     ▒██▀ ██▌▓█   ▀▒████▄   ▓  ██▒ ▓▒▓██░ ██▒
▒▓█    ▄ ▒██░  ██▒░ ▓██▄   ▓██    ▓██░▒██▒▒▓█    ▄    ░██   █▌▒███  ▒██  ▀█▄ ▒ ▓██░ ▒░▒██▀▀██░
▒▓▓▄ ▄██▒▒██   ██░  ▒   ██▒▒██    ▒██ ░██░▒▓▓▄ ▄██▒   ░▓█▄   ▌▒▓█  ▄░██▄▄▄▄██░ ▓██▓ ░ ░▓█ ░██ 
▒ ▓███▀ ░░ ████▓▒░▒██████▒▒▒██▒   ░██▒░██░▒ ▓███▀ ░   ░▒████▓ ░▒████▒▓█   ▓██▒ ▒██▒ ░ ░▓█▒░██▓
░ ░▒ ▒  ░░ ▒░▒░▒░ ▒ ▒▓▒ ▒ ░░ ▒░   ░  ░░▓  ░ ░▒ ▒  ░    ▒▒▓  ▒ ░░ ▒░ ░▒▒   ▓▒█░ ▒ ░░    ▒ ░░▒░▒
  ░  ▒     ░ ▒ ▒░ ░ ░▒  ░ ░░  ░      ░ ▒ ░  ░  ▒       ░ ▒  ▒  ░ ░  ░ ▒   ▒▒ ░   ░     ▒ ░▒░ ░
░        ░ ░ ░ ▒  ░  ░  ░  ░      ░    ▒ ░░            ░ ░  ░    ░    ░   ▒    ░       ░  ░░ ░
░ ░          ░ ░        ░         ░    ░  ░ ░            ░       ░  ░     ░  ░         ░  ░  ░
░                                         ░            ░                                      
</pre>
</header>
